body {
  margin: 0;
  font-family: sans-serif;
}

.app {
  display: flex;
  flex-direction: row;
  background-color: rgb(127, 186, 241);
}

.sidebar {
  min-height: 100vh;
  min-width: 12em;
  width: 28%;
  border-right: solid black 1px;
  background: rgb(195, 225, 253);
  padding: 1em;
}

.sidebar > button {
  width: 100%;
}

.entries-container {
  max-width: 30em;
  margin: auto;
}

.entries-container > div {
  border-bottom: solid 1px grey;
  padding-bottom: 1em;
  min-width: 20em;
}

.entries-container > div > button {
  min-width: 4em;
}

form.new-entry-form {
  border: solid black 1px;
  padding: 1em;
  display: flex;
  flex-direction: column;
}

form.new-entry-form > input,
form.new-enrty-form > textarea {
  font-size: 1em;
  font-family: sans-serif;
  margin-bottom: 0.5em;
  
}

input[type="submit"],
button {
  font-weight: bold;
  font-size: 1em;
  background: rgb(202, 201, 201);
  border: solid black 1px;
  padding: 0.5em;
  cursor: pointer;
}

.div-entry {
  background-color: rgb(195, 225, 253);
  border: solid black 1px;
  margin-top: 10px;
  text-align: center;
}

.header {
  text-align: center;
  background-color: rgb(202, 201, 201);
  font-size: xx-large;
  border: solid black 1px;
}

